<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.zestmoney.master.ExeLib2"/>
      <class name="com.zestmoney.basicscript.AmazonMobileNG"/>
      <class name="com.zestmoney.basicscript.AmazonPriceNG"/>
      <class name="com.zestmoney.basicscript.OpenFlipkartNG"/>
      <class name="com.zestmoney.basicscript.OpenFlipkartNG"/>
      <class name="com.zestmoney.basicscript.FlipkartPriceNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
